.property_section-title_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.property_card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 400px;
}

.property_card:hover {
  transform: scale(1.02);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.property_card-content {
  padding: 2rem;
}

.property_card-img_container {
  position: relative;
}

.property_card-details_container {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
}

.beds,
.bath,
.plinth {
  display: flex;
  align-items: center;
  gap: 3px;
}

.view-property-btn {
  display: block;
  background-color: #1085ff;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.view-property-btn:active,
.view-property-btn:hover {
  background-color: #f5f5f5;
  color: #1085ff;
  font-weight: bold;
  transform: scale(1.05);
}

.property_card-location {
  margin-block: 0;
}

.property_card-address_container .icon,
.property_card-details_container .icon {
  width: 20px;
  height: 20px;
  color: #1085ff;
}

.property_card-img {
  width: 100%;
}

.property_card-address_container {
  display: flex;
  align-items: center;
}

.property_card-price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.property_card-price span {
  font-weight: bold;
}

.property_card-price h3 {
  color: #1085ff;
}

.like_icon {
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  height: 3rem;
  width: 3rem;
  transition: transform 0.3s ease;
  color: #ffffff;
}

.like_icon:hover {
  transform: scale(1.2);
  fill: #1085ff;
  stroke: #1085ff;
}

.property_card-tags {
  display: flex;
  position: absolute;
  bottom: -10px;
}

.property_card-tags small {
  color: #ffffff;
  background-color: #1085ff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
