
.type-section {
  margin-block: 40px;
}

.type-section h2,
.type-section small {
  display: block;
  text-align: center;
}

.type-div {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-width: none;
}

.filtered-map {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);  
  margin: 0 auto; 
  place-items: center; 
  gap: 2rem;
}


@media (max-width: 600px) {
  .filtered-map { grid-template-columns: repeat(1, 1fr); }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-block: 40px;  
}

.pagination-controls button {
  background-color: #F5F5F5;
  color: #0F6BCC;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-controls button:disabled {
  background-color: #E0E0E0;
  color: #B0B0B0;
  cursor: not-allowed;
}

.pagination-controls button.active {
  background-color: #F5F5F5;
  color: #1085FF;
  font-weight: bolder;
}

.pagination-controls button:hover:not(:disabled),
.pagination-controls button:focus:not(:disabled) {
  background-color: #0F6BCC;
  color: #FFFFFF;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .pagination-controls {
    gap: 8px;
    margin-block: 30px;    
  }

  .pagination-controls button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .pagination-controls {
    gap: 6px;
    margin-block: 20px;
    padding: 0 20px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .pagination-controls button {
    padding: 6px 14px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .pagination-controls {    
    gap: 6px;
    margin-block: 15px; 
    padding: 0 10px; 
    overflow-x: scroll;
    scrollbar-width: none;  
  }

  .pagination-controls button {
    padding: 6px 12px;
    font-size: 12px;    
  }
}