.properties-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.properties-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}

.property-list{
    display: grid;    
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 50px; 
    column-gap: 50px;
    padding: 20px;  
    margin: 0 auto;  
    place-items: center;    
}

.search-form-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #1085ff; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    color: #333;             
}

.search-form input::placeholder {               
    font-size: 16px;
}

/* For tablets and small desktops */
@media (max-width: 992px) {
    .property-list {
      grid-template-columns: repeat(2, 1fr); 
      row-gap: 30px; 
      column-gap: 30px;
    }
  
    .search-form input {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  /* For mobile screens */
  @media (max-width: 768px) {
    .property-list {
      grid-template-columns: 1fr; 
      row-gap: 20px; 
      column-gap: 0; 
    }
  
    .search-form-container {
      flex-direction: column; 
      align-items: stretch; 
    }
  
    .search-form {
      max-width: 100%; 
    }
  
    .search-form input {
      font-size: 12px;
      padding: 6px;
    }
  }
