.filter-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-block: 40px;         
}

.filter-div .filters{
    display: flex;
}

input, select {
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
    border-color: #1085FF;
    box-shadow: 0 0 5px rgba(16, 133, 255, 0.3);
}

input:hover, select:hover {
    border-color: #1085FF;
}
